{
  "openapi": "3.1.0",
  "info": {
    "title": "AgentEye API",
    "description": "The AgentEye observability API.\n\nEvery path below is relative to `/v1` on your deployment's dashboard origin — e.g. `https://app.example.com/v1/sessions`. Authenticate with a scoped API key as a bearer token.\n\nOrganization scoping: a key belongs to one organization and acts on it automatically. An instance-scoped key selects one per request with the `X-AgentEye-Org` header; without it, such a key resolves to the default organization, so set it explicitly on a multi-org deployment.",
    "license": {
      "name": "MIT",
      "identifier": "MIT"
    },
    "version": "0.0.1-beta.77"
  },
  "servers": [
    {
      "url": "https://app.befailproof.ai/v1",
      "description": "Failproof AI Cloud"
    }
  ],
  "paths": {
    "/access-granters": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "List who can grant you a permission.",
        "description": "ANY valid key may call this — it is the one authenticated endpoint that\nrequires no particular permission, deliberately, because the caller who needs\nit is by definition the one who lacks access. Only active members of the\ncalling organization holding `users:update` are listed, at most 50 of them,\nand emails are the only field returned.",
        "operationId": "list_access_granters",
        "responses": {
          "200": {
            "description": "Up to 50 `{ email }` objects: who can widen your permissions."
          },
          "401": {
            "description": "Missing, unknown, or disabled key."
          },
          "403": {
            "description": "`X-AgentEye-Org` named an organization this key may not act for. No permission of its own is required."
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/alerts": {
      "get": {
        "tags": [
          "Alerts"
        ],
        "summary": "List this organization's alert rules.",
        "description": "Newest first. Each entry carries the rule itself plus two derived fields:\n`open_incidents`, the number of its issues that are not yet resolved, and\n`last_attempted_at`, when the dispatcher last evaluated it (`null` if it\nnever has). The list is cached for 60 seconds per organization, so a rule\nyou just created or edited can take that long to appear here.",
        "operationId": "list_alerts",
        "responses": {
          "200": {
            "description": "The organization's alert rules, newest first."
          },
          "401": {
            "description": "Missing, unknown, or disabled key."
          },
          "403": {
            "description": "The key lacks `alerts:read`."
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "post": {
        "tags": [
          "Alerts"
        ],
        "summary": "Create an alert rule.",
        "description": "`trigger_kind` picks how the rule is evaluated — `metric_threshold`,\n`custom_sql`, `evaluation_score`, `eval_compound` or `per_event` — and\n`trigger_spec` is the free-form JSON that kind expects.\n\nThe scheduling fields work together: the dispatcher evaluates the rule every\n`eval_interval_secs` (default 300, must be between 30 and 86400) and only\nopens an issue once `min_breaches` of the last `eval_window` evaluations\nbreached (both default to 1, and `min_breaches` may not exceed\n`eval_window`). Every entry in `channels` needs a `kind` of `email`, `slack`,\n`webhook` or `dashboard`; omitting `channels` creates a rule that opens\nissues but notifies nobody.\n\nReturns the new alert's `id` and `created_at`. When the request came through\nthe dashboard, `created_by` records the human; a direct API call records the\nAPI key's id instead.",
        "operationId": "create_alert",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AlertBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Alert created."
          },
          "401": {
            "description": "Missing, unknown, or disabled key."
          },
          "403": {
            "description": "The key lacks `alerts:write`."
          },
          "422": {
            "description": "Validation failed — `error` names the offending field."
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/alerts/recipients": {
      "get": {
        "tags": [
          "Alerts"
        ],
        "summary": "List the member emails an alert can notify.",
        "description": "Returns `[{ \"email\": … }]` for your organization — active members only,\nalphabetised. Gated on `alerts:read` OR `alerts:write` rather than\n`users:read`, so whoever views or edits alerts can fill in the recipient\npicker without being able to read user records; only emails come back, never\nthe permissions and ids `/users` returns. Alert channels can also be pointed\nat external addresses that are not members — this is the convenience list,\nnot the set of addresses you are allowed to use.",
        "operationId": "list_alert_recipients",
        "responses": {
          "200": {
            "description": "Active member emails, alphabetised."
          },
          "401": {
            "description": "Missing, unknown, or disabled key."
          },
          "403": {
            "description": "The key lacks both `alerts:read` and `alerts:write` — either one is enough."
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/alerts/{id}": {
      "get": {
        "tags": [
          "Alerts"
        ],
        "summary": "Fetch one alert rule.",
        "description": "Same shape as an entry in `GET /alerts`, `open_incidents` and\n`last_attempted_at` included, and cached for 60 seconds in the same way. An\nalert belonging to another organization reads as 404, not 403.",
        "operationId": "get_alert",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The alert's id.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The alert rule."
          },
          "401": {
            "description": "Missing, unknown, or disabled key."
          },
          "403": {
            "description": "The key lacks `alerts:read`."
          },
          "404": {
            "description": "No such alert in this organization."
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "put": {
        "tags": [
          "Alerts"
        ],
        "summary": "Replace an alert rule.",
        "description": "A whole-object replace, not a patch: any field you leave out reverts to its\ndefault rather than keeping its current value — `enabled` to `true`,\n`severity` to `warning`, `channels` to empty, which silently stops the rule\nnotifying anyone. Read the alert first and send the full object back.\nValidation is identical to `POST /alerts`.",
        "operationId": "update_alert",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The alert's id.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AlertBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Alert replaced; returns `id` and `updated_at`."
          },
          "401": {
            "description": "Missing, unknown, or disabled key."
          },
          "403": {
            "description": "The key lacks `alerts:write`."
          },
          "404": {
            "description": "No such alert in this organization."
          },
          "422": {
            "description": "Validation failed — `error` names the offending field."
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Alerts"
        ],
        "summary": "Delete an alert rule.",
        "description": "This also deletes every issue the rule ever opened — the issue rows cascade\noff the definition, taking their comments, subscribers and activity history\nwith them. If you only want the rule to stop firing, `PUT` it back with\n`enabled: false` instead. Returns 204 with no body.",
        "operationId": "delete_alert",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The alert's id.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Alert deleted, along with its issues."
          },
          "401": {
            "description": "Missing, unknown, or disabled key."
          },
          "403": {
            "description": "The key lacks `alerts:write`."
          },
          "404": {
            "description": "No such alert in this organization."
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/alerts/{id}/issues": {
      "get": {
        "tags": [
          "Issues"
        ],
        "summary": "List one alert's issues.",
        "description": "The same rows as `GET /issues`, restricted to this alert. The default\n`state` differs: this returns the alert's full history —\n`firing,acknowledged,resolved` — because it backs the per-alert page rather\nthan the board. An `alert_id` in the query string is ignored; the path wins.",
        "operationId": "list_incidents_for_alert",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The alert's id.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "Comma-separated states from `firing`, `acknowledged`, `resolved`. Default: all three.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Default 200, capped at 1000.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The alert's issues, newest first."
          },
          "401": {
            "description": "Missing, unknown, or disabled key."
          },
          "403": {
            "description": "The key lacks `issues:read`."
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "post": {
        "tags": [
          "Issues"
        ],
        "summary": "Open an issue against an existing alert, by hand.",
        "description": "`summary` is required and capped at 2000 characters; `title` is optional and\ndefaults to the alert's own name.\n\nAn alert can have only one open issue at a time, so this does NOT always\ncreate a row: if one is already open, your summary folds into it and the\nresponse is **200** with `newly_opened: false`. **201** means a new issue was\nreally opened. Read that field rather than assuming. `source` in the response\nis the value actually stored — re-posting against an issue the dispatcher or\nan audit opened leaves its provenance alone.",
        "operationId": "create_incident",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The alert's id.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateIncidentBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The alert already had an open issue; this folded into it (`newly_opened: false`)."
          },
          "201": {
            "description": "A new issue was opened."
          },
          "401": {
            "description": "Missing, unknown, or disabled key."
          },
          "403": {
            "description": "The key lacks `issues:create`."
          },
          "404": {
            "description": "No such alert in this organization."
          },
          "422": {
            "description": "`summary` is missing or exceeds 2000 characters, or `title` exceeds 200 characters."
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/alerts/{id}/test": {
      "post": {
        "tags": [
          "Alerts"
        ],
        "summary": "Send a test notification through an alert's channels.",
        "description": "Fires one synthetic notification so you can check a channel is actually\nwired up. It touches no state: nothing is opened or resolved, no issue is\nstored, and the `synthetic_incident_id` in the response belongs to no row —\ndo not try to fetch it.\n\nPost the editor's current `channels` to test edits you have not saved yet;\nwith no body, the alert's saved channels are used. An empty email channel\nfalls back to the organization's default recipients, exactly as a real\nnotification would. Delivery is best-effort: 200 means the fan-out ran, not\nthat every channel accepted it.",
        "operationId": "test_alert",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The alert's id.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Optional. Omit the body to use the alert's saved channels.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TestAlertRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Fan-out ran; returns `ok` and a throwaway `synthetic_incident_id`."
          },
          "401": {
            "description": "Missing, unknown, or disabled key."
          },
          "403": {
            "description": "The key lacks `alerts:write`."
          },
          "404": {
            "description": "No such alert in this organization."
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/audits": {
      "get": {
        "tags": [
          "Audits"
        ],
        "summary": "List this organization's audits, newest first.",
        "description": "Each entry is the full definition plus its schedule state\n(`next_attempt_at`, `last_attempted_at`, `last_error`), its open finding\ncount, and the status of its most recent run. Edits made through this API\nshow up immediately, but the response is cached for 60 seconds, so schedule\nstate advanced by the dispatcher can lag by that much.",
        "operationId": "list_audits",
        "responses": {
          "200": {
            "description": "The organization's audit definitions."
          },
          "401": {
            "description": "Missing, unknown, or disabled key."
          },
          "403": {
            "description": "The key lacks `audits:read`."
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "post": {
        "tags": [
          "Audits"
        ],
        "summary": "Create a recurring audit.",
        "description": "An audit sweeps a window of your events on a schedule and files findings for\nthe failure patterns it sees. `schedule_interval_secs` must be between 3600\n(1h) and 604800 (7d) and defaults to daily; `lookback_window_secs` must be\nbetween 3600 (1h) and 7776000 (90d) and defaults to 7d. `schedule_anchor`\nfixes the phase — runs land on `anchor + N * interval` — and defaults to the\nnext 09:00 UTC; an anchor more than 365 days out is rejected. The first run\nis queued immediately on create regardless of the anchor.",
        "operationId": "create_audit",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuditBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Audit created. Returns `id` and `created_at`."
          },
          "401": {
            "description": "Missing, unknown, or disabled key."
          },
          "403": {
            "description": "The key lacks `audits:write`."
          },
          "422": {
            "description": "The payload failed validation; `error` names the problem."
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/audits/contracts": {
      "get": {
        "tags": [
          "Audits"
        ],
        "description": "List this organization's agent contracts. A contract states what one agent is for — what it must produce, how often it should run, what it must never do — and audits grade that agent against it. Contracts are organization-wide: there is one per agent, shared by every audit that covers it. Contract text is omitted here; read a single contract to get it. `last_matched` is when that agent last produced anything an audit could grade, and a contract that has never matched usually names an agent that does not exist.",
        "operationId": "list_contracts",
        "responses": {
          "200": {
            "description": "The organization's contracts, without their text."
          },
          "401": {
            "description": "Missing, unknown, or disabled key."
          },
          "403": {
            "description": "The key lacks `audits:read`."
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "post": {
        "tags": [
          "Audits"
        ],
        "description": "Write a contract for one agent. `agent_id` must match the agent id in your telemetry exactly — take it from the agent list rather than typing it, because a name that matches nothing is not rejected and the contract simply never applies. Case and surrounding whitespace are ignored when matching. One contract per agent: writing a second for the same agent is a conflict, not a replacement. The body is Markdown and is stored as written; the response reports which sections were recognised.",
        "operationId": "create_contract",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContractBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "The contract as stored."
          },
          "401": {
            "description": "Missing, unknown, or disabled key."
          },
          "403": {
            "description": "The key lacks `audits:write`."
          },
          "409": {
            "description": "This agent already has a contract."
          },
          "422": {
            "description": "The agent id or body is missing, malformed, or too long."
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/audits/contracts/{cid}": {
      "get": {
        "tags": [
          "Audits"
        ],
        "description": "Read one agent contract, including its full text. `sections` lists the parts of the document that were recognised, so a heading that was not understood is visible rather than silently having no effect.",
        "operationId": "get_contract",
        "parameters": [
          {
            "name": "cid",
            "in": "path",
            "description": "The contract's id.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The contract."
          },
          "401": {
            "description": "Missing, unknown, or disabled key."
          },
          "403": {
            "description": "The key lacks the required permission."
          },
          "404": {
            "description": "No such contract in this organization."
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "put": {
        "tags": [
          "Audits"
        ],
        "description": "Replace a contract. This is a full replacement, not a merge: the agent id and body are set to exactly what you send. Editing a contract changes what future audits expect; findings already raised keep referring to the text that was in force when they were raised.",
        "operationId": "update_contract",
        "parameters": [
          {
            "name": "cid",
            "in": "path",
            "description": "The contract's id.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContractBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The contract as stored."
          },
          "401": {
            "description": "Missing, unknown, or disabled key."
          },
          "403": {
            "description": "The key lacks `audits:write`."
          },
          "404": {
            "description": "No such contract in this organization."
          },
          "409": {
            "description": "Another contract already covers that agent."
          },
          "422": {
            "description": "The agent id or body is missing, malformed, or too long."
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Audits"
        ],
        "description": "Delete a contract. The agent is audited from then on as though one had never been written. Audits that already ran keep their record of what they graded against.",
        "operationId": "delete_contract",
        "parameters": [
          {
            "name": "cid",
            "in": "path",
            "description": "The contract's id.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The contract was deleted."
          },
          "401": {
            "description": "Missing, unknown, or disabled key."
          },
          "403": {
            "description": "The key lacks `audits:write`."
          },
          "404": {
            "description": "No such contract in this organization."
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/audits/findings": {
      "get": {
        "tags": [
          "Audits"
        ],
        "summary": "List findings across every audit in the organization, highest priority\nfirst.",
        "description": "This is the triage queue. Without a `status` filter it shows only the live\nset — `open` and `recurring` — so triaged findings disappear from it; pass\n`status` explicitly to see them. Narrow to one audit with `audit_id`, or to\nthe findings one run produced or touched with `run_id`. Each finding's\n`issue_id` is the issue it graduated into, or null if it never did.",
        "operationId": "list_findings",
        "parameters": [
          {
            "name": "audit_id",
            "in": "query",
            "description": "Restrict to one audit.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "run_id",
            "in": "query",
            "description": "Restrict to findings first or last seen by one run.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Comma-separated: `open`, `recurring`, `resolved`, `dismissed`, `muted`. Defaults to `open,recurring`.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Default 100, clamped to 1–500.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Default 0.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of findings, highest priority first."
          },
          "401": {
            "description": "Missing, unknown, or disabled key."
          },
          "403": {
            "description": "The key lacks `audits:read`."
          },
          "422": {
            "description": "`status` names a status that does not exist."
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/audits/findings/{fid}": {
      "get": {
        "tags": [
          "Audits"
        ],
        "summary": "Fetch one finding in full.",
        "description": "The same shape the list returns — evidence, priority factors,\nrecommendation, suggested alert, and the issue it graduated into.",
        "operationId": "get_finding",
        "parameters": [
          {
            "name": "fid",
            "in": "path",
            "description": "The finding's id.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The finding."
          },
          "401": {
            "description": "Missing, unknown, or disabled key."
          },
          "403": {
            "description": "The key lacks `audits:read`."
          },
          "404": {
            "description": "No such finding in this organization."
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/audits/findings/{fid}/status": {
      "post": {
        "tags": [
          "Audits"
        ],
        "summary": "Triage a finding.",
        "description": "`action` is one of `ack`, `mute`, `dismiss`, `resolve`, `reopen` or\n`assign`; `assign` additionally requires `assigned_to`, and any action may\ncarry a free-text `reason`.\n\n`mute` and `dismiss` record durable feedback keyed on the finding's\nfingerprint, which suppresses that pattern across EVERY audit in the\norganization — not just the one you are looking at. `reopen` clears that\nsuppression. `resolve` records none, so a pattern that comes back is filed\nagain as new. `ack` keeps the finding visible but deprioritized.\n\nSet `X-AgentEye-Actor` to attribute the action to a person; without it the\nAPI key's id is recorded instead. If the finding graduated into an issue,\nthe issue is updated to match on a best-effort basis — a failure there is\nlogged and does not fail the triage, which has already committed.",
        "operationId": "update_finding_status",
        "parameters": [
          {
            "name": "fid",
            "in": "path",
            "description": "The finding's id.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StatusBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The action was applied."
          },
          "401": {
            "description": "Missing, unknown, or disabled key."
          },
          "403": {
            "description": "The key lacks `audits:write`."
          },
          "404": {
            "description": "No such finding in this organization."
          },
          "422": {
            "description": "Unknown `action`, or `assign` without `assigned_to`."
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/audits/{id}": {
      "get": {
        "tags": [
          "Audits"
        ],
        "summary": "Fetch one audit definition.",
        "description": "Same shape as an entry in the list, read straight from the database rather\nthan the 60-second list cache — schedule state and the last-run summary are\ncurrent as of the request.",
        "operationId": "get_audit",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The audit's id.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The audit definition."
          },
          "401": {
            "description": "Missing, unknown, or disabled key."
          },
          "403": {
            "description": "The key lacks `audits:read`."
          },
          "404": {
            "description": "No such audit in this organization."
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "put": {
        "tags": [
          "Audits"
        ],
        "summary": "Update an audit definition.",
        "description": "`name` is required and always overwritten; every other field is optional and\nan omitted one keeps its current value — there is no way to clear a field\nback to NULL here. The same ranges as create apply. A changed\n`schedule_interval_secs` or `schedule_anchor` takes effect at the next\nreschedule, not on the run already queued.",
        "operationId": "update_audit",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The audit's id.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuditBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Audit updated."
          },
          "401": {
            "description": "Missing, unknown, or disabled key."
          },
          "403": {
            "description": "The key lacks `audits:write`."
          },
          "404": {
            "description": "No such audit in this organization."
          },
          "422": {
            "description": "The payload failed validation; `error` names the problem."
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Audits"
        ],
        "summary": "Delete an audit.",
        "description": "Cascades: the audit's queue row, its run history and all of its findings go\nwith it, and this cannot be undone. Muting feedback survives — it is keyed on\nthe fingerprint, not the audit. Requires `audits:write`; there is no separate\ndelete permission.",
        "operationId": "delete_audit",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The audit's id.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Audit deleted."
          },
          "401": {
            "description": "Missing, unknown, or disabled key."
          },
          "403": {
            "description": "The key lacks `audits:write`."
          },
          "404": {
            "description": "No such audit in this organization."
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/audits/{id}/context": {
      "get": {
        "tags": [
          "Audits"
        ],
        "description": "Read an audit's extra context: the operator's written brief, plus the reference URLs it draws on and the state of each one's stored snapshot. Snapshot text is returned as a bounded preview rather than in full.",
        "operationId": "get_context",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The audit's id.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The audit's brief and its reference sources."
          },
          "401": {
            "description": "Missing, unknown, or disabled key."
          },
          "403": {
            "description": "The key lacks `audits:read`."
          },
          "404": {
            "description": "No such audit in this organization."
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "put": {
        "tags": [
          "Audits"
        ],
        "description": "Replace an audit's extra context. This is a full replacement, not a merge: the brief and the reference URL list are both set to exactly what you send, so send an empty value to clear one. Context is edited here rather than through the audit itself, so an ordinary unrelated edit to the audit can never overwrite it.",
        "operationId": "put_context",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The audit's id.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContextBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Context replaced. Returns the stored brief and sources."
          },
          "401": {
            "description": "Missing, unknown, or disabled key."
          },
          "403": {
            "description": "The key lacks `audits:write`."
          },
          "404": {
            "description": "No such audit in this organization."
          },
          "422": {
            "description": "The brief is too long, or a URL is invalid, duplicated, or over the limit."
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/audits/{id}/context/refresh": {
      "post": {
        "tags": [
          "Audits"
        ],
        "description": "Queue a re-fetch of this audit's reference URLs. Returns as soon as the work is queued, not when it finishes. Sources whose URL was refused are left alone, since nothing about them can change until the URL is edited, and a source that already has usable text keeps serving it while the re-fetch runs.",
        "operationId": "refresh_context",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The audit's id.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Re-fetch queued. Reports how many sources were queued."
          },
          "401": {
            "description": "Missing, unknown, or disabled key."
          },
          "403": {
            "description": "The key lacks `audits:write`."
          },
          "404": {
            "description": "No such audit in this organization."
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/audits/{id}/run": {
      "post": {
        "tags": [
          "Audits"
        ],
        "summary": "Run an audit now.",
        "description": "Makes the audit's queue row due immediately; the dispatcher claims it on its\nnext tick, so the 202 means \"queued\", not \"finished\" — poll\n`GET /audits/{id}/runs` for the result. Three cases all answer 409 and are\ndistinguished by the `error` field: the audit is unknown or belongs to\nanother organization, it is disabled (a disabled audit has no queue row), or\na run is already in progress, which must finish before another can be queued.",
        "operationId": "run_now",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The audit's id.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "The run is queued."
          },
          "401": {
            "description": "Missing, unknown, or disabled key."
          },
          "403": {
            "description": "The key lacks `audits:write`."
          },
          "409": {
            "description": "Not found, disabled, or already running; `error` says which."
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/audits/{id}/runs": {
      "get": {
        "tags": [
          "Audits"
        ],
        "summary": "List an audit's runs, newest first.",
        "description": "Each run carries its status, the window it covered, its finding counts and\nthe LLM report when there is one. An unknown audit id — or one in another\norganization — returns an empty list rather than 404.",
        "operationId": "list_runs",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The audit's id.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Runs per page. Defaults to 50, clamped to 1-200.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Rows to skip. Defaults to 0.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of runs, newest first."
          },
          "401": {
            "description": "Missing, unknown, or disabled key."
          },
          "403": {
            "description": "The key lacks `audits:read`."
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/auth/introspect": {
      "get": {
        "tags": [
          "Auth"
        ],
        "description": "Describe the API key making this request: the organization it belongs to and the permissions it holds. Requires no permission of its own — any valid key may describe itself, and only itself. Intended to be called once when provisioning a machine, so a bad key, a missing permission and a wrong organization can be told apart before anything is sent. A key that has just been revoked or has just expired may still be reported as valid for up to a minute.",
        "operationId": "handler",
        "responses": {
          "200": {
            "description": "The key is valid. Reports its organization and effective permissions."
          },
          "401": {
            "description": "Missing, unknown, revoked, or expired key."
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/dashboards": {
      "get": {
        "tags": [
          "Dashboards"
        ],
        "summary": "List the organization's dashboards, newest first.",
        "description": "Dashboards belong to the organization, not to whoever created them —\neveryone with `dashboards:read` sees the same list. Each entry carries a\n`tile_count` but not the tiles themselves; fetch a single dashboard for\nthose. The list is cached for up to 30 seconds, so a dashboard created a\nmoment ago may not appear on the very next call.",
        "operationId": "list_dashboards",
        "responses": {
          "200": {
            "description": "The organization's dashboards, newest first."
          },
          "401": {
            "description": "Missing, unknown, or disabled key."
          },
          "403": {
            "description": "The key lacks `dashboards:read`."
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "post": {
        "tags": [
          "Dashboards"
        ],
        "summary": "Create a dashboard.",
        "description": "`definition` is an opaque JSON object owned by the dashboard UI (filters and\ndisplay settings) — it is stored and returned verbatim and the server never\nlooks inside it. A new dashboard has no tiles; add them with\n`POST /dashboards/{id}/tiles`.",
        "operationId": "create_dashboard",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertDashboardRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "The created dashboard."
          },
          "401": {
            "description": "Missing, unknown, or disabled key."
          },
          "403": {
            "description": "The key lacks `dashboards:write`."
          },
          "422": {
            "description": "`name` is blank, or `definition` is not a JSON object."
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/dashboards/{id}": {
      "get": {
        "tags": [
          "Dashboards"
        ],
        "summary": "Fetch one dashboard together with its tiles.",
        "description": "The response is the dashboard record plus a `tiles` array, ordered by grid\nposition (top to bottom, then left to right) — the same order the UI draws\nthem in.",
        "operationId": "get_dashboard",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Dashboard id.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The dashboard and its tiles."
          },
          "401": {
            "description": "Missing, unknown, or disabled key."
          },
          "403": {
            "description": "The key lacks `dashboards:read`."
          },
          "404": {
            "description": "No dashboard with that id in this organization."
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "put": {
        "tags": [
          "Dashboards"
        ],
        "summary": "Replace a dashboard's name, description and definition.",
        "description": "A full replacement, not a patch: send every field you want to keep, because\nan omitted `description` is written back as empty. Tiles and their layout\nare not touched — change those through the tile endpoints.",
        "operationId": "update_dashboard",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Dashboard id.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertDashboardRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The updated dashboard."
          },
          "401": {
            "description": "Missing, unknown, or disabled key."
          },
          "403": {
            "description": "The key lacks `dashboards:write`."
          },
          "404": {
            "description": "No dashboard with that id in this organization."
          },
          "422": {
            "description": "`name` is blank, or `definition` is not a JSON object."
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Dashboards"
        ],
        "summary": "Delete a dashboard and every tile on it.",
        "description": "This is the one dashboards route that needs `dashboards:delete`; editing a\ndashboard — including adding and removing its tiles — needs only\n`dashboards:write`, so a key that can author dashboards cannot necessarily\ndestroy one. The tiles go with the dashboard; the saved queries they render\nare left alone.",
        "operationId": "delete_dashboard",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Dashboard id.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted."
          },
          "401": {
            "description": "Missing, unknown, or disabled key."
          },
          "403": {
            "description": "The key lacks `dashboards:delete`."
          },
          "404": {
            "description": "No dashboard with that id in this organization."
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/dashboards/{id}/tiles": {
      "get": {
        "tags": [
          "Dashboards"
        ],
        "summary": "List a dashboard's tiles, ordered by grid position.",
        "description": "A dashboard id that does not exist in this organization returns an empty\n`tiles` array rather than a 404 — check the dashboard itself if you need to\ntell \"no tiles\" from \"no dashboard\".",
        "operationId": "list_tiles",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Dashboard id.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The dashboard's tiles, in grid order."
          },
          "401": {
            "description": "Missing, unknown, or disabled key."
          },
          "403": {
            "description": "The key lacks `dashboards:read`."
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "post": {
        "tags": [
          "Dashboards"
        ],
        "summary": "Add a tile to a dashboard.",
        "description": "A tile renders exactly one saved query: `query_id` names it, `chart_type`\nis one of `line`, `area`, `bar`, `stacked_bar`, `pie`, `kpi` or `table`, and\n`pos_x` / `pos_y` / `pos_w` / `pos_h` place it on the grid (origin\ntop-left, width and height in grid cells). `chart_config` and\n`param_bindings` are opaque JSON objects the dashboard UI owns; both\ndefault to `{}`.\n\nThe saved query must be one of your organization's — a `query_id` from\nanywhere else reads as \"does not exist\".",
        "operationId": "create_tile",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Dashboard the tile is added to.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertTileRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "The created tile."
          },
          "401": {
            "description": "Missing, unknown, or disabled key."
          },
          "403": {
            "description": "The key lacks `dashboards:write`."
          },
          "404": {
            "description": "The dashboard or the referenced saved query does not exist in this organization."
          },
          "422": {
            "description": "Unknown `chart_type`, `chart_config`/`param_bindings` is not a JSON object, or the position is negative / the size is not positive."
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/dashboards/{id}/tiles/layout": {
      "put": {
        "tags": [
          "Dashboards"
        ],
        "summary": "Reposition a dashboard's tiles in one request.",
        "description": "Send `{\"tiles\": [{id, pos_x, pos_y, pos_w, pos_h}, …]}`; every entry is\napplied in a single transaction, so a whole drag-and-resize rearrangement\nis one round-trip. Only geometry changes — the query, title and config on\neach tile are left as they are.\n\nPositions are validated before anything is written, so a bad entry rejects\nthe request without applying any of it. But `updated` echoes how many\nentries you SENT, not how many rows actually changed: an id that is not a\ntile on this dashboard is silently skipped. Send only ids you read back\nfrom the dashboard.",
        "operationId": "update_tiles_layout",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Dashboard whose tiles are being repositioned.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LayoutUpdateBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "`updated` is the number of entries submitted."
          },
          "401": {
            "description": "Missing, unknown, or disabled key."
          },
          "403": {
            "description": "The key lacks `dashboards:write`."
          },
          "422": {
            "description": "A tile's position is negative or its size is not positive; nothing was applied."
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/dashboards/{id}/tiles/{tile_id}": {
      "put": {
        "tags": [
          "Dashboards"
        ],
        "summary": "Replace a tile.",
        "description": "A full replacement, not a patch — every field is written, so send the ones\nyou want to keep. The tile must live on the dashboard named in the path;\notherwise it reads as not found.",
        "operationId": "update_tile",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Dashboard the tile belongs to.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "tile_id",
            "in": "path",
            "description": "Tile id.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertTileRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The updated tile."
          },
          "401": {
            "description": "Missing, unknown, or disabled key."
          },
          "403": {
            "description": "The key lacks `dashboards:write`."
          },
          "404": {
            "description": "No such tile on that dashboard in this organization."
          },
          "422": {
            "description": "Unknown `chart_type`, `chart_config`/`param_bindings` is not a JSON object, or the position is negative / the size is not positive."
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Dashboards"
        ],
        "summary": "Remove a tile from a dashboard.",
        "description": "Needs `dashboards:write`, NOT `dashboards:delete` — taking a chart off a\ndashboard is an edit; only deleting the whole dashboard needs the delete\ngrant. The saved query the tile rendered is untouched.",
        "operationId": "delete_tile",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Dashboard the tile belongs to.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "tile_id",
            "in": "path",
            "description": "Tile id.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted."
          },
          "401": {
            "description": "Missing, unknown, or disabled key."
          },
          "403": {
            "description": "The key lacks `dashboards:write`."
          },
          "404": {
            "description": "No such tile on that dashboard in this organization."
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/evaluation-jobs": {
      "get": {
        "tags": [
          "Evaluations"
        ],
        "summary": "List the evaluations that are queued or in flight, newest enqueue first.",
        "description": "This is the queue, not the results — a job leaves this list once it finishes,\nat which point its scores appear on `/evaluations`. Each row carries the\nattempt count, the next retry time, and the last error, so a session stuck\nbehind a failing evaluator is visible here rather than merely absent from\n`/evaluations`.",
        "operationId": "list_jobs",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "description": "One of `pending` or `polling` — the only two states a job has while it exists. Anything else is a 400.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Default 100, capped at 500.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The organization's queued and in-flight evaluation jobs."
          },
          "400": {
            "description": "`status` is neither `pending` nor `polling`."
          },
          "401": {
            "description": "Missing, unknown, or disabled key."
          },
          "403": {
            "description": "The key lacks `evaluations:read`."
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/evaluations": {
      "get": {
        "tags": [
          "Evaluations"
        ],
        "summary": "List completed evaluations, newest first.",
        "description": "Cursor-paginated: read a page, then pass its `next_cursor` back as `cursor`.\n`next_cursor` is null on the final page. Every filter below AND-composes.\n\n`latest_per_session=true` collapses the page to one row per session — that\nsession's most recent evaluation — which is what the sessions list shows.\nWithout it you get the full evaluation history, so a re-evaluated session\nappears more than once.",
        "operationId": "list_evaluations",
        "parameters": [
          {
            "name": "session_id",
            "in": "query",
            "description": "Exact session id.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "agent_id",
            "in": "query",
            "description": "Exact agent id.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "environment",
            "in": "query",
            "description": "Comma-separated environments.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "One of `done`, `error`, `timeout`. Anything else is a 400.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ts_from",
            "in": "query",
            "description": "RFC 3339 lower bound on `completed_at` (inclusive).",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ts_to",
            "in": "query",
            "description": "RFC 3339 upper bound on `completed_at` (inclusive).",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Opaque cursor from the previous page.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Default 50, capped at 200 — asking for more silently gets you 200.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "score_filters",
            "in": "query",
            "description": "Comma-separated `key:min..max` ranges over the top-level numeric `scores` keys. Either bound may be omitted: `factuality:0.9..`, `cost:..0.3`. At most 20 entries; more is a 400. Entries that do not parse are dropped silently.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "metric_filters",
            "in": "query",
            "description": "Same grammar and 20-entry cap as `score_filters`, but matched against the nested magnitude metrics at `scores.metrics.<key>` (cost, latency, tokens).",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "latest_per_session",
            "in": "query",
            "description": "Return only the most recent evaluation per session. Default false.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of evaluations plus `next_cursor`."
          },
          "400": {
            "description": "Unknown `status`, or more than 20 `score_filters` / `metric_filters` entries."
          },
          "401": {
            "description": "Missing, unknown, or disabled key."
          },
          "403": {
            "description": "The key lacks `evaluations:read`."
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/evaluations/aggregate": {
      "get": {
        "tags": [
          "Evaluations"
        ],
        "summary": "Rolled-up evaluation health for a filtered slice.",
        "description": "Takes the same filters as `/evaluations` and returns totals, a status\nbreakdown, per-score-key stats, and a time-bucketed timeline — computed over\nthe whole matching set, not a sample of it.\n\n`bucket` is a request, not a guarantee: a fine bucket over a long range is\nstepped up until the timeline fits 1500 points, and `timeline.bucket_unit`\nreports the granularity actually used. `series` is opt-in and capped at 24\nseries; when the cap bites, `series_truncated` comes back true rather than\nthe response quietly containing fewer lines than you asked for.",
        "operationId": "aggregate_evaluations",
        "parameters": [
          {
            "name": "session_id",
            "in": "query",
            "description": "Exact session id.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "agent_id",
            "in": "query",
            "description": "Exact agent id.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "environment",
            "in": "query",
            "description": "Comma-separated environments.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "One of `done`, `error`, `timeout`. Anything else is a 400.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ts_from",
            "in": "query",
            "description": "RFC 3339 lower bound on `completed_at` (inclusive). Also sets the default bucket width.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ts_to",
            "in": "query",
            "description": "RFC 3339 upper bound on `completed_at` (inclusive). Defaults to now.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "score_filters",
            "in": "query",
            "description": "Comma-separated `key:min..max` ranges over the top-level numeric `scores` keys, at most 20. Same grammar as on `/evaluations`.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "metric_filters",
            "in": "query",
            "description": "Same grammar and 20-entry cap, matched against the nested metrics at `scores.metrics.<key>`.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "latest_per_session",
            "in": "query",
            "description": "Aggregate only the most recent evaluation per session. Default false.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "featured_keys",
            "in": "query",
            "description": "Comma-separated score keys whose per-bucket average the timeline should carry. De-duplicated and capped at 6; keys past the sixth are dropped.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "series",
            "in": "query",
            "description": "Opt-in chart series, as a JSON array of `[agent_id, environment, key, agg]` quads — e.g. `[[\"*\",\"*\",\"helpfulness\",\"p90\"]]`. `\"*\"` in the agent or environment slot means all of them combined. `agg` is one of `avg`, `min`, `max`, `p50`, `p75`, `p90`, `p95`, `p99`, `stddev`, `mode`. Malformed entries and unknown aggregations are dropped rather than failing the request; at most 24 survive.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "series_source",
            "in": "query",
            "description": "Where `series` reads from: `scores` (default, the 0-1 rate scores) or `metrics` (the nested magnitude metrics).",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bucket",
            "in": "query",
            "description": "Timeline granularity: `minute`, `5m`, `15m`, `hour`, `6h`, `day`, `week`, or `auto` (default, derived from the range). Coarsened when it would exceed 1500 buckets — read `timeline.bucket_unit` for what was used.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Totals, status counts, per-score-key stats and the timeline. `series` and `series_truncated` are present only when `series` was supplied."
          },
          "400": {
            "description": "Unknown `status`, or more than 20 `score_filters` / `metric_filters` entries."
          },
          "401": {
            "description": "Missing, unknown, or disabled key."
          },
          "403": {
            "description": "The key lacks `evaluations:read`."
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/evaluations/environments": {
      "get": {
        "tags": [
          "Evaluations"
        ],
        "summary": "The distinct environment names seen in this organization's evaluations.",
        "description": "Returns a bare JSON array of strings, suitable for an environment filter.\nRead from the evaluations dataset rather than the event store, so a key with\n`evaluations:read` but not `events:read` can still populate the filter.\nCached per organization for 60 seconds, so a brand-new environment can take\nup to a minute to show up here.",
        "operationId": "list_environments",
        "responses": {
          "200": {
            "description": "A JSON array of environment names, sorted."
          },
          "401": {
            "description": "Missing, unknown, or disabled key."
          },
          "403": {
            "description": "The key lacks `evaluations:read`."
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/evaluations/metric_keys": {
      "get": {
        "tags": [
          "Evaluations"
        ],
        "summary": "The magnitude-metric names under `scores.metrics`, each with its unit.",
        "description": "Returns a JSON array of `{name, unit, count}` objects. Kept separate from\n`score_keys` because the two are on different scales: score keys are 0-1\nrates that share one axis, metrics carry units (ms, USD, tokens) and must not\nbe plotted against each other. `unit` is an empty string for metrics recorded\nbefore units existed. Cached per organization for 60 seconds.\n\nNote the underscore: the path is `/evaluations/metric_keys`.",
        "operationId": "list_metric_keys",
        "responses": {
          "200": {
            "description": "A JSON array of `{name, unit, count}` objects, sorted by name."
          },
          "401": {
            "description": "Missing, unknown, or disabled key."
          },
          "403": {
            "description": "The key lacks `evaluations:read`."
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/evaluations/score_keys": {
      "get": {
        "tags": [
          "Evaluations"
        ],
        "summary": "The numeric score keys present across this organization's evaluations.",
        "description": "Returns a bare JSON array of strings. Score keys are emergent — whatever your\nevaluators emit — so this is the complete all-time catalog rather than a\nsample of recent rows. Only NUMERIC keys are listed, which is exactly the set\n`score_filters` can range-filter on; string and boolean score values are\nomitted. Cached per organization for 60 seconds.\n\nNote the underscore: the path is `/evaluations/score_keys`.",
        "operationId": "list_score_keys",
        "responses": {
          "200": {
            "description": "A JSON array of numeric score keys, sorted."
          },
          "401": {
            "description": "Missing, unknown, or disabled key."
          },
          "403": {
            "description": "The key lacks `evaluations:read`."
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/events": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "List raw events, including each event's full payload.",
        "description": "Cursor-paginated: read a page, then pass its `next_cursor` back as `cursor`.\n`next_cursor` is null on the final page. For the dashboard's lighter feed\nwithout payloads, use `/events/summary`.",
        "operationId": "list_events",
        "parameters": [
          {
            "name": "session_id",
            "in": "query",
            "description": "Comma-separated session ids.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "agent_id",
            "in": "query",
            "description": "Comma-separated agent ids.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "event_type",
            "in": "query",
            "description": "Comma-separated event types.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "environment",
            "in": "query",
            "description": "Comma-separated environments.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ts_from",
            "in": "query",
            "description": "RFC 3339 lower bound (inclusive).",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ts_to",
            "in": "query",
            "description": "RFC 3339 upper bound (exclusive).",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "`desc` (default) or `asc`.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Opaque cursor from the previous page.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Default 50, capped at 1000.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of events plus `next_cursor`."
          },
          "401": {
            "description": "Missing, unknown, or disabled key."
          },
          "403": {
            "description": "The key lacks `events:read`."
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "post": {
        "tags": [
          "Events"
        ],
        "summary": "Ingest a batch of events.",
        "description": "The body is newline-delimited JSON — one event object per line, not a JSON\narray. Malformed lines are SKIPPED, not rejected: the response reports\n`accepted` and `skipped` counts and the status is 200 even when every line\nwas bad. A 5xx means \"retry the whole batch\"; duplicate events are collapsed\nserver-side, so retrying is safe.",
        "operationId": "handler",
        "requestBody": {
          "description": "One JSON event object per line.",
          "content": {
            "application/x-ndjson": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Batch processed. Reports `accepted` and `skipped` counts."
          },
          "401": {
            "description": "Missing, unknown, or disabled key."
          },
          "403": {
            "description": "The key lacks `events:add`."
          },
          "500": {
            "description": "Storage write failed — retry the batch."
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/events/agent_ids": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "List the agent ids this organization has sent events for, most-used first.",
        "description": "A JSON array of strings — the values accepted by the `agent_id` filter on\n`/events`, `/events/summary` and `/sessions`. Capped at the 500 busiest agent\nids and cached for up to a minute.\n\nEither `events:read` or `evaluations:read` grants this, so session-only keys\ncan populate the same filter.",
        "operationId": "list_agent_ids",
        "responses": {
          "200": {
            "description": "Up to 500 agent ids, most-used first."
          },
          "401": {
            "description": "Missing, unknown, or disabled key."
          },
          "403": {
            "description": "The key lacks both `events:read` and `evaluations:read` — either one is enough."
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/events/environments": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "List the environment names this organization has actually sent events from.",
        "description": "A JSON array of strings, alphabetically sorted — the values accepted by the\n`environment` filter on `/events`, `/events/summary` and `/sessions`. Derived\nfrom stored events, so an environment appears only once something has been\ningested under it, and results are cached for up to a minute: a brand-new\nenvironment can take that long to show up.\n\nEither `events:read` or `evaluations:read` grants this, so session-only keys\ncan populate the same filter.",
        "operationId": "list_environments",
        "responses": {
          "200": {
            "description": "The organization's environment names, sorted."
          },
          "401": {
            "description": "Missing, unknown, or disabled key."
          },
          "403": {
            "description": "The key lacks both `events:read` and `evaluations:read` — either one is enough."
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/events/error_summary": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "Summarise the errors matching a filter, across the whole window.",
        "description": "Returns `total`, the number of distinct `sessions` and `agents` involved,\n`last_ts` (null when nothing matched), a `bins` array of exactly 24 counts,\nand the `bounds` in epoch milliseconds that those bins span.\n\nTwo things to know. The result is ALWAYS restricted to errored events, so it\nis not a general event rollup — the same filters here and on\n`/events/summary?errored=true` describe the same set, which is what keeps a\nchart and its rows in agreement. And when `ts_from`/`ts_to` are omitted, the\nbins span the matched data's own first and last event rather than a fixed\nwindow, so `bounds` is the only reliable way to turn a bin index back into a\ntime range. Counts are computed over the entire window, not the current page,\nand are cached for about ten seconds.",
        "operationId": "list_error_summary",
        "parameters": [
          {
            "name": "session_id",
            "in": "query",
            "description": "Comma-separated session ids.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "agent_id",
            "in": "query",
            "description": "Comma-separated agent ids.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "event_type",
            "in": "query",
            "description": "Comma-separated event types.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "error_type",
            "in": "query",
            "description": "Comma-separated error types.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "environment",
            "in": "query",
            "description": "Comma-separated environments.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ts_from",
            "in": "query",
            "description": "RFC 3339 lower bound (inclusive). Also the histogram's start.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ts_to",
            "in": "query",
            "description": "RFC 3339 upper bound (inclusive). Also the histogram's end.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Free-text match against the event payload. Repeat the parameter to match any of several terms.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search_exclude",
            "in": "query",
            "description": "Comma-separated payload keys the free-text search should ignore, e.g. `agent_id,environment`.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Error totals, a 24-bin histogram, and the bounds it spans."
          },
          "401": {
            "description": "Missing, unknown, or disabled key."
          },
          "403": {
            "description": "The key lacks `events:read`."
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/events/error_types": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "List the error types seen in this organization's events, most-used first.",
        "description": "A JSON array of strings — the values accepted by the `error_type` filter.\nOnly events that carry a classified error type are counted, which is a\nnarrower set than `errored=true`: a failed tool result that reports an error\nmessage without a type contributes to that filter but not to this list.\nCapped at 500 values, cached for a couple of minutes.",
        "operationId": "list_error_types",
        "responses": {
          "200": {
            "description": "Up to 500 error types, most-used first."
          },
          "401": {
            "description": "Missing, unknown, or disabled key."
          },
          "403": {
            "description": "The key lacks `events:read`."
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/events/event_types": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "List the event types this organization has actually sent, alphabetically.",
        "description": "A JSON array of strings — the values accepted by the `event_type` filter.\nThis is the observed set, not the full catalogue the SDKs can emit: a type\nyou have never ingested is absent. Cached for up to five minutes, the longest\nof the facet endpoints.",
        "operationId": "list_event_types",
        "responses": {
          "200": {
            "description": "The event types seen for this organization, sorted."
          },
          "401": {
            "description": "Missing, unknown, or disabled key."
          },
          "403": {
            "description": "The key lacks `events:read`."
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/events/hook_names": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "List the hook names seen in this organization's events, most-used first.",
        "description": "A JSON array of strings — the values accepted by the `hook_name` filter.\nCounted from `hook_triggered` events only (the start leg of a hook), capped\nat 500 names, cached for a couple of minutes.",
        "operationId": "list_hook_names",
        "responses": {
          "200": {
            "description": "Up to 500 hook names, most-used first."
          },
          "401": {
            "description": "Missing, unknown, or disabled key."
          },
          "403": {
            "description": "The key lacks `events:read`."
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/events/latency_aggregate": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "Roll up the latency between two event types into a chart-ready summary.",
        "description": "Pairs each `start_event_type` event with its matching `end_event_type` event\nand reports the duration between them: `bins` (a time series over the\nwindow), `heatmap` (time against latency band), `summary` (pair count with\np50/p95/p99 and max), `events` (window totals), and, when\n`distribution_key_paths` is given, a `distribution` broken down by that key.\nThis is how the tools, models and hooks pages are drawn.\n\n`start_event_type` and `end_event_type` are required and must differ;\nanything else returns 400. `ts_to` defaults to now, and omitting `ts_from`\nspans back to the oldest matching event rather than a fixed window — check\n`bounds` in the response for what was actually covered. `bin_count` defaults\nto 24 and is clamped to 1–168. The distribution names the top 10 keys and\nrolls the rest into a single `(other)` entry, so it still sums to the window\ntotal.\n\nTwo behaviours worth knowing. `payload_sum_paths` can only sum `duration_ms`,\n`input_tokens` and `output_tokens` — any other path is ignored silently and\nits `sums` entry stays 0. And sums count only the closing event of each pair,\nso token usage reported on both legs is not double-counted.",
        "operationId": "latency_aggregate",
        "parameters": [
          {
            "name": "start_event_type",
            "in": "query",
            "description": "Required. The event type that opens a span, e.g. `tool_use`.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_event_type",
            "in": "query",
            "description": "Required. The event type that closes it, e.g. `tool_result`. Must differ from `start_event_type`.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "session_id",
            "in": "query",
            "description": "Comma-separated session ids.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "agent_id",
            "in": "query",
            "description": "Comma-separated agent ids.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "environment",
            "in": "query",
            "description": "Comma-separated environments.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ts_from",
            "in": "query",
            "description": "RFC 3339 lower bound. Omit to span back to the oldest matching event.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ts_to",
            "in": "query",
            "description": "RFC 3339 upper bound. Defaults to now.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bin_count",
            "in": "query",
            "description": "Time bins on the X axis. Default 24, clamped to 1–168.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "outcome",
            "in": "query",
            "description": "`success`, `error`, or `all` (the default, and the fallback for an unrecognized value).",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "model",
            "in": "query",
            "description": "Comma-separated exact model names. Applies to both legs of a pair.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tool_name",
            "in": "query",
            "description": "Comma-separated exact tool names. Applies to both legs of a pair.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hook_name",
            "in": "query",
            "description": "Comma-separated exact hook names. Applies to both legs of a pair.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "trigger_event",
            "in": "query",
            "description": "Comma-separated exact trigger events. Selects pairs whose opening event carries one of them.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "distribution_key_paths",
            "in": "query",
            "description": "Comma-separated payload keys to group the distribution by, first one present wins, e.g. `tool_name,tool`. Omit to skip the distribution.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pair_key_paths",
            "in": "query",
            "description": "Comma-separated payload keys used to match a start event to its end event, first one present wins. Defaults to `tool_call_id,request_id,hook_id,id`; events carrying none of them pair in order within their session.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "payload_contains",
            "in": "query",
            "description": "Case-insensitive substring filter on a payload field, written `<key>:<text>`. Applies to both legs of a pair.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "payload_sum_paths",
            "in": "query",
            "description": "Comma-separated `<name>:<field>` pairs adding totals under `sums`. Only `duration_ms`, `input_tokens` and `output_tokens` can be summed.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The latency rollup: bounds, bins, heatmap, summary, events, and optionally distribution."
          },
          "400": {
            "description": "A required or malformed parameter. The body's `error` field says which."
          },
          "401": {
            "description": "Missing, unknown, or disabled key."
          },
          "403": {
            "description": "The key lacks `events:read`."
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/events/models": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "List the model names seen in this organization's events, most-used first.",
        "description": "A JSON array of strings — the values accepted by the `model` filter. Capped\nat the 500 most-used models and cached for up to a minute. Every event that\nnames a model contributes, not just model responses, so both legs of a model\ncall count towards the ordering.",
        "operationId": "list_models",
        "responses": {
          "200": {
            "description": "Up to 500 model names, most-used first."
          },
          "401": {
            "description": "Missing, unknown, or disabled key."
          },
          "403": {
            "description": "The key lacks `events:read`."
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/events/summary": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "List events WITHOUT their payloads — the light feed the dashboard tails.",
        "description": "Same filters and cursor semantics as `/events`; each row carries a derived\none-line summary instead of the full payload, so a page is far smaller.",
        "operationId": "list_event_summaries",
        "parameters": [
          {
            "name": "session_id",
            "in": "query",
            "description": "Comma-separated session ids.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "agent_id",
            "in": "query",
            "description": "Comma-separated agent ids.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "event_type",
            "in": "query",
            "description": "Comma-separated event types.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "environment",
            "in": "query",
            "description": "Comma-separated environments.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ts_from",
            "in": "query",
            "description": "RFC 3339 lower bound (inclusive).",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ts_to",
            "in": "query",
            "description": "RFC 3339 upper bound (exclusive).",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "`desc` (default) or `asc`.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Opaque cursor from the previous page.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Default 50, capped at 1000.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of event summaries plus `next_cursor`."
          },
          "401": {
            "description": "Missing, unknown, or disabled key."
          },
          "403": {
            "description": "The key lacks `events:read`."
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/events/tool_names": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "List the tool names seen in this organization's events, most-used first.",
        "description": "A JSON array of strings — the values accepted by the `tool_name` filter.\nCounted from `tool_use` and `tool_result` events only, capped at 500 names,\ncached for a couple of minutes.",
        "operationId": "list_tool_names",
        "responses": {
          "200": {
            "description": "Up to 500 tool names, most-used first."
          },
          "401": {
            "description": "Missing, unknown, or disabled key."
          },
          "403": {
            "description": "The key lacks `events:read`."
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/events/trigger_events": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "List the trigger events that fired hooks recently, most-used first.",
        "description": "A JSON array of strings — the values accepted by the `trigger_event` filter.\nOnly the last 90 days are scanned, so a trigger that has not fired in that\nwindow is absent even though older events still carry it. Capped at 500\nvalues and cached for up to a minute.",
        "operationId": "list_trigger_events",
        "responses": {
          "200": {
            "description": "Up to 500 trigger-event names from the last 90 days, most-used first."
          },
          "401": {
            "description": "Missing, unknown, or disabled key."
          },
          "403": {
            "description": "The key lacks `events:read`."
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/health": {
      "get": {
        "tags": [
          "Health"
        ],
        "summary": "Liveness probe.",
        "description": "The only endpoint on `/v1` that needs no credential — it reports that the\nprocess is answering, nothing about your data.",
        "operationId": "handler",
        "responses": {
          "200": {
            "description": "The server is answering."
          }
        },
        "security": []
      }
    },
    "/issues": {
      "get": {
        "tags": [
          "Issues"
        ],
        "summary": "List issues.",
[...]
